
        <ion-content>
          <ion-toolbar>
            <ion-title>Elegir Barbero</ion-title>
          </ion-toolbar>
          <ion-list>

            <ion-item class="item-perfil-barberos">
              <ion-avatar slot="start" class="foto-perfil-avatar">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <ion-button class="btn-elegir-barbero">Elegir</ion-button>
                <ion-button class="btn-ver-barbero">Ver perfil</ion-button>
              </ion-label>
            </ion-item>

            <ion-item  class="item-perfil-barberos">
              <ion-avatar slot="start" class="foto-perfil-avatar">
                <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Daniel Smith</h2>
                <ion-button class="btn-elegir-barbero">Elegir</ion-button>
                <ion-button class="btn-ver-barbero">Ver perfil</ion-button>
              </ion-label>
            </ion-item>

            <ion-item  class="item-perfil-barberos">
              <ion-avatar slot="start" class="foto-perfil-avatar">
                <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Greg Smith</h2>
                <ion-button class="btn-elegir-barbero">Elegir</ion-button>
                <ion-button class="btn-ver-barbero">Ver perfil</ion-button>
              </ion-label>
            </ion-item>

            <ion-item class="item-perfil-barberos">
              <ion-avatar slot="start" class="foto-perfil-avatar">
                <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2 class="nom-barbero">Zoey Smith</h2>
                <ion-button class="btn-elegir-barbero">Elegir</ion-button>
                <ion-button class="btn-ver-barbero">Ver perfil</ion-button>
              </ion-label>
            </ion-item>

            <ion-item  class="item-perfil-barberos">
              <ion-avatar slot="start" class="foto-perfil-avatar">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <ion-button class="btn-elegir-barbero">Elegir</ion-button>
                <ion-button class="btn-ver-barbero">Ver perfil</ion-button>
              </ion-label>
            </ion-item>

            <ion-item  class="item-perfil-barberos">
              <ion-avatar slot="start" class="foto-perfil-avatar">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <ion-button class="btn-elegir-barbero">Elegir</ion-button>
                <ion-button class="btn-ver-barbero">Ver perfil</ion-button>
              </ion-label>
            </ion-item>

            <ion-item  class="item-perfil-barberos">
              <ion-avatar slot="start" class="foto-perfil-avatar">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>Connor Smith</h2>
                <ion-button class="btn-elegir-barbero">Elegir</ion-button>
                <ion-button class="btn-ver-barbero">Ver perfil</ion-button>
              </ion-label>
            </ion-item>

          </ion-list>

  </ion-content>
  
  <!--MODAL ELEGIR HORA Y FECHA  -->

