<ion-header [translucent]="true">
  <ion-toolbar>
    <h2 id="tlo">Disponible</h2>
  </ion-toolbar>
</ion-header>
  


<ion-content [fullscreen]="true">
 

  <main>
   
   
    <section id="info-barberos">
        <div class="tarjeta-barbero">

            <figure class="contenedor-img-barbero">
                <img class="img-barbero" src="../../assets/img/icono-usuario.png" alt="icono usuario">
            </figure>

            <div class="contenedor-datos-barbero">
                <p class="nom-barbero">BarberLocate</p>

                <button class="btn-actividad-barbero" type="button">Agendar cita</button>

                <button class="btn-ubicacion-barbero" type="button">ver ubicación</button>
            </div>
           
        </div>

        <div class="tarjeta-barbero">

            <figure class="contenedor-img-barbero">
                <img class="img-barbero" src="../../assets/img/icono-usuario.png" alt="icono usuario">
            </figure>

            <div class="contenedor-datos-barbero">
                <p class="nom-barbero">Barberia valhala</p>
                <button class="btn-actividad-barbero" type="button">Agendar cita</button>
                <button class="btn-ubicacion-barbero" type="button">ver ubicación</button>
            </div>

          

        </div>
        
    </section>
   
</main>
</ion-content>
  
  
