<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <h2 id="tlo">Barberos asociados</h2>
    <button id="btn-agregar-barbero" class="esconder" type="button">Agregar barbero</button>
    <section id="info-barberos">
        <div class="tarjeta-barbero">

            <figure class="contenedor-img-barbero">
                <img class="img-barbero" src="../../assets/img/icono-usuario.png" alt="icono usuario">
            </figure>

            <div class="contenedor-datos-barbero">
                <p class="nom-barbero">Juan Esteban Dominguez Rivera</p>
                <button class="btn-actividad-barbero" type="button">Ver actividad</button>
            </div>
            
            <button class="btn-eliminar-barbero esconder" type="button"><ion-icon name="trash-sharp"></ion-icon></button>

        </div>

        <div class="tarjeta-barbero">

            <figure class="contenedor-img-barbero">
                <img class="img-barbero" src="../../assets/img/icono-usuario.png" alt="icono usuario">
            </figure>

            <div class="contenedor-datos-barbero">
                <p class="nom-barbero">Juan Esteban Dominguez Rivera</p>
                <button class="btn-actividad-barbero" type="button">Ver actividad</button>
            </div>

            <button class="btn-eliminar-barbero esconder" type="button"><ion-icon name="trash-sharp"></ion-icon></button>

        </div>
    </section>
    <button id="btn-administrar-barberos" type="button">Administrar barberos</button>
</main>
</ion-content>
