

<ion-content [fullscreen]="true">

  <div  class="contenedor">
  <div class="alinFoto">

    <ion-fab-button class="agregarfoto" size="small" style="--background: #cc8c3A;">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>

    <ion-avatar>
      <img alt="Silhouette of a person's head" src="../../assets/img/icono-usuario.png" />
    </ion-avatar>

   
  </div>
  <p class="nomperfil">Mauricio posada</p>
  <div class="lineaC"></div>

  <ion-button id="editarinfo"><ion-icon id="editaricon" name="create-outline"></ion-icon></ion-button>
  
  <ion-grid class="infoperfil">

    <ion-row  class="estilo-row" >

      <ion-col size="2"  class="icono-col">

        <ion-icon class="iconos" name="diamond-outline"></ion-icon>
        <ion-icon  class="iconos" name="attach-outline"></ion-icon>
        <ion-icon  class="iconos" name="call-outline"></ion-icon>
        <ion-icon  class="iconos" name="business-outline"></ion-icon>
      </ion-col>

      <ion-col size="8" class="info-col">

        <p class="inform">Cliente</p>
        <p class="inform">Albergue</p>
        <p class="inform">#cra 3b 03-08</p>
        <p class="inform">3117175899</p>

      </ion-col>

    </ion-row>

    
  </ion-grid>
  
</div>

  
    