<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div id="flecha-atras">
    <ion-icon name="arrow-back-sharp"></ion-icon>
  </div>
  <div id="contenedor">

    <div id="logo">
      <ion-img src="assets/img/logo3.png" alt="Logo Barber Locate"></ion-img>
    </div>

    <form [formGroup]="form" (submit)="onSubmit()" action="">
      <div id="campos">

        <ion-input type="text" placeholder="Documento de identidad" maxlength="15" pattern="[0-9]*" formControlName="cedula"></ion-input>
        
        <ion-input type="date" formControlName="fecha_nac"></ion-input>
        
        
        <ion-input type="password" placeholder="Contraseña" pattern="^\S*$" formControlName="palabra" (keypress)="quitarEspacio($event)"></ion-input>
        
        
        <ion-input type="password" placeholder="Confirmar contraseña" pattern="^\S*$" formControlName="confirmar_palabra" (keypress)="quitarEspacio($event)"></ion-input>

      </div>

      <ion-button expand="block" type="submit" [disabled]="form.invalid || form.hasError('passwordMismatch')" (click)="contrasenaActualizada('top'); contrasenaFallida('top')">Restaurar</ion-button>
    </form>
      

  </div>
</ion-content>
