ion-button {
    --background: #dd5025;
    border: transparent;
    color: #fff6e6;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    width: 130px;
}

ion-content {
    --background: #2f2519;
}

ion-img {
    width: 100%;
}

ion-input {
    --background: #413423;
    color: #fff6e6;
    font-size: 16px;
    height: 3.5em;
    margin: 5px;
    text-align: center;
    width: 230px;
}

div#campos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#contenedor {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

div#flecha-atras {
    height: 45px;
    margin: 15px;
    position: absolute;
    width: 45px;
}
    div#flecha-atras ion-icon {
        color: #eda05a;
        font-size: 44px;
    }

div#logo {
    width: 150px;
    margin-bottom: 20px;
}

form {
    align-items: center;
    flex-direction: column;
    display: flex;
}

@media screen and (min-height: 700px){
    div#logo {
        margin-bottom: 80px;
    }
}

